<html>
    <head>
        <meta charset="utf-8">
        <title>socket</title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script>
            const socket = io.connect();
            window.onload = () => {
                socket.emit('join', prompt('토큰을 입력하세요.', ''));

                socket.on('message', data => { $('<p>'+data.userName+' : ' + data.data + '</p>').appendTo('#content'); });
                socket.on('error', data => { alert('error'); location.href='/customerCenter'; });
                socket.on('disconnect', () => { alert('상담이 종료되었습니다.'); location.href='/customerCenter' });                

                function messageAppend(){
                    if(document.getElementById('message').value === 'disconnect'){ document.getElementById('disconnect-button').innerHTML = '<input type="button" value="상담 종료" onclick="disconnect()" ></input>'}
                    else{
                        socket.emit('message', document.getElementById('message').value);
                        document.getElementById('message').value = '';
                    }
                }

                document.getElementById('button').onclick = () => { messageAppend(); };
                
                $('#message').keyup(e => { if(e.keyCode === 13){ messageAppend(); } });
            };

            function disconnect(){
                socket.emit('disconnect');
            }
        </script>
    </head>
    <body>
        <input type="text" id="message">
        <input type="button" id="button" value="send">
        <ul id="content"></ul>
        <div id="disconnect-button"></div>
    </body>
</html>