<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form action="/service/token" method="post">
            your id : <input type="text" name="userId" value="<%= userId %>"><br>
            <input type="submit" name="create" value="create token">
        </form>
    </body>
</html>