<html>
    <head>
        <meta charset="utf-8">
        <title>Customer Center</title>
    </head>
    <body>
        <ul>
            <li><a href="javascript:alert('준비중입니다.');">공지사항</a></li>
            <li><a href="/service/token">1:1상담 예약하기</a></li>
            <li><a href="/service/consulting">1:1상담</a></li>
            <li><a href="/service/QA">Q&A</a></li>
        </ul>
    </body>
</html>