<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>
    <body>
        <div id="demo">
            <p><input type="text" id="high"></p>
            <p><input type="text" id="weight"></p>
            <p><input type="button" id="demo-submit" value="체험하기" ></p>
            <p><div id="deom-result"></div></p>
        </div>
        <script>
            $('#demo-submit').click(() => {
                $('#demo-result').html('');
                $.ajax({
                    url : '/service/demo',
                    dataType : 'json',
                    type: 'POST',
                    data: {'high':$('#high').val(), 'weight':$('#weight').val()},
                    success : (result) => {
                        if(result['result'] == true){
                            $('#demo').html(result['msg']);
                        }
                    }
                });
            });
        </script>
        <p>asdfasdf</p>
    </body>
</html>