<!DOCTYPE html>
<html lang="en">
<head>
    <title>Payment Info</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
    <script>
        function fn_setAddr(){
            let width = 500;
            let height = 600;
            daum.postcode.load(function(){
                new daum.Postcode({
                    oncomplete : function(data){
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드
                        $("#zipAddr").val(data.address);
                        $("#addr").val(data.buildingName);
                    }
                }).open({
                    left : (window.screen.width / 2) - (width / 2),
                    right : (window.screen.height / 2) - (height / 2)
                });
            });
        }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.png"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/themify/themify-icons.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/elegant-font/html-css/style.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<!--    <link rel="stylesheet" type="text/css" href="./vendor/animsition/css/animsition.min.css">-->
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/util.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <script type="text/javascript"> function button1(){ alert("Thank you for your like :)"); }</script>
</head>
<body class="animsition">


    <!-- Title Page -->
    <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-color: silver;">
        <h2 class="l-text2 t-center">
            Payment Information
        </h2>
    </section>

    <!-- content page -->
    <section class="bgwhite p-t-66 p-b-60">
        <div class="container">
            <div class="row">

                <div class="col-md-6 p-b-30">


                    <form action="/service/payment/inputPaymentInformation" method="POST">
        <div class="bo4 of-hidden size15 m-b-20">
                            <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="id" maxlength="16" placeholder="Credit Card Number" required>
                        </div>
        <div class="bo4 of-hidden size15 m-b-20" style="width: 150px; border: 1px; float: left; width: 50%;">
        <select class="sizefull s-text7 p-l-22 p-r-22" name="vm" required>
            <option value="" selected disabled hidden>Validity Month</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        </div>
        <div class="bo4 of-hidden size15 m-b-20" style="width: 150px; border: 1px; float: left; width: 50%;">
        <select class="sizefull s-text7 p-l-22 p-r-22" name="vy" required>
                <option value="" selected disabled hidden>Validity Year</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
                <option value="2027">2027</option>
                <option value="2028">2028</option>
                <option value="2029">2029</option>
        </select>
        </div>
        <div class="bo4 of-hidden size15 m-b-20" style="width: 150px; border: 1px; float: left; width: 33%;">
                            <select class="sizefull s-text7 p-l-22 p-r-22" name="code">
                                <option class="sizefull s-text7 p-l-22 p-r-22" value="010"> 010 </option>
                                <option class="sizefull s-text7 p-l-22 p-r-22" value="010"> 011 </option>
                                <option class="sizefull s-text7 p-l-22 p-r-22" value="010"> 019 </option>
                            </select>                        
                        </div>
                        <div class="bo4 of-hidden size15 m-b-20" style="width: 150px; border: 1px; float: left; width: 33%;">
                            <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="number2" placeholder="0000" maxlength="4" required>
                        </div>
                        <div class="bo4 of-hidden size15 m-b-20" style="width: 150px; border: 1px; float: left; width: 33%;">
                            <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="number3" placeholder="0000" maxlength="4" required>
        </div>                     
                       
                            <input class="sizefull s-text7 p-l-22 p-r-22" type="button" onclick="fn_setAddr()" value="주소찾기" style="width:20%; height: 35px">

                        <div class="bo4 of-hidden size15 m-b-20">
                            <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="address" id="zipAddr" placeholder="Address" required>
                        </div>


        <div class="w-size25">
                            <!-- Button -->
                    <input class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4" type="submit" value="Pay">
        </div>


                    </form>
                    
                        

                </div>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
        <div class="flex-w p-b-90">
            <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
                <h4 class="s-text12 p-b-30">
                    GET IN TOUCH
                </h4>

                <div>
                    <p class="s-text7 w-size27">
                        Any questions? Let us know in store at 2nd floor, 304-dong Hyundai @, Seoul, Republic of Korea or contact us on admin@example.com
                    </p>

                    <div class="flex-m p-t-30">
                        <a href="javascript:alert('facebook');" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
                        <a href="javascript:alert('instagram');" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
                        <a href="javascript:alert('pinterest');" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
                        <a href="javascript:alert('snapchat');" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
                        <a href="javascript:alert('youtube');" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
                    </div>
                </div>
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Categories
                </h4>

                <ul>
                    <li class="p-b-9">
                        <a href="/product?clothes=shirt" class="s-text7">
                            Shirts
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="/product?clothes=pants" class="s-text7">
                            Pants
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="/product?clothes=bag" class="s-text7">
                            Bags
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="/product?clothes=shoes" class="s-text7">
                            Shoes
                        </a>
                    </li>
                </ul>
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Links
                </h4>

                <ul>
                    <li class="p-b-9">
                        <a href="#" class="s-text7" id="search_2">
                            Search
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="/about" class="s-text7">
                            About Us
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="/contact" class="s-text7">
                            Contact Us
                        </a>
                    </li>

                </ul>
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Help
                </h4>

                <ul>
                    <li class="p-b-9">
                        <a href="/customerCenter" class="s-text7">
                            Customer Center
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="/tos.html" class="s-text7">
                            ToS
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="/priv.html" class="s-text7">
                            Privacy policy
                        </a>
                    </li>
                </ul>
            </div>

            <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
                <h4 class="s-text12 p-b-30">
                    Like us
                </h4>

                <form>
                    Present: <input class="s-text7 bg6  p-b-5" type="text" id="likeCountText" value="0">
                    <div class="w-size2 p-t-20">
                        <!-- Button -->
                        <input class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4" type="button" id="likeCount" value="Like">
                    </div>
                </form>
            </div>
        </div>

        <div class="t-center p-l-15 p-r-15">
            <a href="#">
                <img class="h-size2" src="./images/icons/paypal.png" alt="IMG-PAYPAL">
            </a>

            <a href="#">
                <img class="h-size2" src="./images/icons/visa.png" alt="IMG-VISA">
            </a>

            <a href="#">
                <img class="h-size2" src="./images/icons/mastercard.png" alt="IMG-MASTERCARD">
            </a>

            <a href="#">
                <img class="h-size2" src="./images/icons/express.png" alt="IMG-EXPRESS">
            </a>

            <a href="#">
                <img class="h-size2" src="./images/icons/discover.png" alt="IMG-DISCOVER">
            </a>

            <div class="t-center s-text8 p-t-20">
                Copyright © 2018 All rights reserved. | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            </div>
        </div>
    </footer>



    <!-- Back to top -->
    <div class="btn-back-to-top bg0-hov" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        </span>
    </div>

    <!-- Container Selection -->
    <div id="dropDownSelect1"></div>
    <div id="dropDownSelect2"></div>



<!--===============================================================================================-->
    <script type="text/javascript" src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
    <script type="text/javascript" src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
    <script type="text/javascript" src="/vendor/bootstrap/js/popper.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
    <script type="text/javascript" src="/vendor/select2/select2.min.js"></script>
    <script type="text/javascript">
        $(".selection-1").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });

        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect2')
        });
    </script>
<!--===============================================================================================-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
    <script src="/js/map-custom.js"></script>
<!--===============================================================================================-->
    <script src="/js/main.js"></script>
    <script>
        $('#search_2').click(() => {
            let data = prompt("검색할 제품을 입력해주세요");
            if(data){
                $.ajax({
                    url : '/service/search',
                    dataType : 'json',
                    type : 'POST',
                    data : {'productName' : data},
                    success : result => {
                        location.href=`${result.path}`;
                    }
                });
            }else{
                alert("제대로 입력해주세요");
            }
        });
    </script>
    <script>
        $('#likeCount').click(() => {
            var n = $('#likeCount').index(this);
            var num = $("#likeCountText:eq("+n+")").val();
            num = $("#likeCountText:eq("+n+")").val(num*1+1); 
        });
    </script>   
</body>
</html>
