<html>
    <head>
        <meta charset="utf8">
        <title>test MongoDB</title>
    </head>
    <body>
        <form action="/login" method="POST">
            id : <input type="text" name="id"><br>
            pw : <input type="password" name="pw"><br>
            <input type="submit" value="submit">
        </form>
    </body>
</html>